# Django REST Framework Starter Kit Requirements
# 
# This file installs development dependencies by default.
# For production, use: pip install -r requirements/production.txt
# For testing, use: pip install -r requirements/testing.txt

-r requirements/development.txt
